* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 @font-face {
    font-family: 'DC';
    src: url(../midia/fonts/DcFandom-orr4.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
 }

 main {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh; font-family: "Bebas Neue", sans-serif;
    background-color: rgb(15, 55, 110);
    height: 100%;
 }


body {
  font-family: "Bebas Neue", sans-serif;
  background-color: #ffffff;
  color: #4786aa;
  transition: background-color 0.3s, color 0.3s;
}

#menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  text-align: center;
  height: 15vh;
  width: 100vw;
  background-image: linear-gradient(to right, #0000FF, #0000AA, #000000);
  background-attachment: fixed;
  font-family: 'DC', sans-serif;
}

nav {
  width: 60vw;
  display: flex;
  gap: 20px;
  text-align: center;
}

#titulo,
a {
  margin: 25px;
}

a {
  font-size: 2rem;
  color: #0000FF;
}

button {
  padding: 10px 20px;
  margin-bottom: 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
}

button:hover {
  background-color: #0056b3;
}

h2 {
  margin-top: 40px;
  font-size: 2.5rem;
}

h1 {
  font-size: 3.5rem;
}

table {
  width: 80vw;
  border-collapse: collapse;
  margin-bottom: 30px;
  border-color: #000000;
  margin: 100px;
  color: #F7F7F7;
}

th,
td {
  border: 1px solid #F7F7F7;
  padding: 10px;
  text-align: center;
  font-size: 2rem;
  background-color: #007BFF;
}

th {
  background-color: #0000AA;
  font-size: 1.2rem;
}

ul {
  margin-bottom: 50px;
}

h1, h2 {
  margin: 50px;
  color: #E6E6E6;
}

#img {
  height: 500px;
  width: 400px;
  border-radius: 15px;
  border-style: solid;
  border-width: 5px;
  border-color: #000000;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#img, #descri {
  margin: 50px;
}

li {
  font-size: 2rem;
  margin: 10px;
}

iframe {
  margin: 100px;
  width: 70vw;
  height: 70vh;
  border-radius: 20px;
}

.texto {
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 2.5rem;
}