@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 @font-face {
    font-family: 'Legion';
    src: url(../midia/fonts/LegioSabinaOutline-gxKMR.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
 }

 @font-face {
    font-family: 'Legio';
    src: url(../midia/fonts/LegioSabinaCondensed-aYgYx.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
 }

body {
    font-family: 'Legio', sans-serif;
    background-size: cover;
    height: 100vh;
    background-image: url(../midia/imagens/Design\ sem\ nome.png);
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(33, 44, 160);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 40vw;
    height: 60vh;
    box-shadow:  10px 10px 15px rgba(0,0,0,0.5);
    border: none;
}
input[type="text"] {
    width: 90%;
    height: 5vh;
    padding: 10px;
    margin: 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    font-family: 'Legio', sans-serif;
    background-color: #323232;
    color: #F7F7F7;
}
button {
    background-color: #085caa;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Legio', sans-serif;
    height: 60px;
    width: 20vw;
    font-size: 2rem;
}
h2 {
    margin: 50px;
    font-size: 3rem;
}

button:hover {
    transition: 0.3s;
    transform: scale(1.2);
    background-image: url(../midia/imagens/DC\ button.png);
    overflow: hidden;
    background-size: auto;
    color: #32323202;
}

p {
    font-size: 1.8rem;
}

p, h2 {
    color: #F7F7F7;
}