@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 @font-face {
    font-family: 'Legion';
    src: url(../midia/fonts/LegioSabinaOutline-gxKMR.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
 }

 @font-face {
    font-family: 'Legio';
    src: url(../midia/fonts/LegioSabinaCondensed-aYgYx.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
 }

body {
    font-family: 'Legio', sans-serif;
    background-size: cover;
    height: 100vh;
    background-image: url(../midia/dcbackground.webp);
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(173, 216, 230, 0.95);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    box-shadow:  10px 10px 15px rgba(0,0,0,0.5);
    border: none;
}
input[type="text"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    font-family: 'Legio', sans-serif;
}
button {
    background-color: #d9534f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Legio', sans-serif;
}
h2 {
    margin-bottom: 10px;
}

button:hover {
    transition: 0.3s;
    transform: scale(1.2);
    background-color: black;
    color: #DDDD00;
}