 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 @font-face {
    font-family: 'DC';
    src: url(../midia/fonts/DcFandom-orr4.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
 }

 @font-face {
    font-family: 'Gotham';
    src: url(../midia/fonts/GothamWomans-B8md.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
 }

 @font-face {
    font-family: 'Superman';
    src: url(../midia/fonts/NewSuperman-Pzd7.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
 }

  @font-face {
    font-family: 'Flash';
    src: url(../midia/fonts/Elements.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
 }
 
  @font-face {
    font-family: 'Lanterna';
    src: url(../midia/fonts/GREEN_LANTERN_MOVIE.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
 }


body {
    background-image: url(../midia/dcbackground.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.oculto {
    transition: 0.3s;
    visibility: hidden;
    display: none;
}

#gotham {
    width: 90vw;
    background-color: #000000;
    color: #dddd00;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 20px;
}

#btngotham {
    transition: 0.3s;
    width: 90vw;
    height: 50px;
    border: none;
    border-radius: 20px;
    font-family: 'Gotham', sans-serif;
    font-size: 2rem;
    overflow: hidden;
    text-align: center;
}
#metropolis {
    width: 90vw;
    background-color: #0004ff;
    color: #dd0000;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

#btnmetropolis{
    width: 90vw;
    height: 50px;
    border: none;
    border-radius: 20px;
    font-family: 'Superman', sans-serif;
    font-size: 2rem;
    overflow: hidden;
}

#centralcity{
    width: 90vw;
    background-color: #fb5b5b;
    color: #3434ff;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

#btncentralcity{
    width: 90vw;
    height: 50px;
    border: none;
    border-radius: 20px;
    font-family: 'Flash', sans-serif;
    font-size: 2rem;
    overflow: hidden;
}

#coastcity{
    width: 90vw;
    background-color: rgb(166, 244, 89);
    color: rgb(1, 130, 1);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

#btncoastcity{
    width: 90vw;
    height: 50px;
    border: none;
    border-radius: 20px;
    font-family: 'Lanterna', sans-serif;
    font-size: 2rem;
    overflow: hidden;
}

#menu {
    height: 10vh;
    width: 100vw;
    background-image: linear-gradient(to right,#0000FF, #0000AA, #000000);
    background-attachment: fixed;
    font-family: 'DC', sans-serif;
}

#titulo {
    padding: 25px;
}


button.card {
    height: 200px;
    width: 100px;
    border-radius: 20px;
    margin: 8x;
    background-color:white;
    border: none;
}

button.card:hover {
    background-color: #000000;
}

