 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 @font-face {
    font-family: 'DC';
    src: url(../midia/fonts/DcFandom-orr4.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
 }


 main {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100vw;
    font-family: 'DC', sans-serif;
    background-color: #3333AA;
 }

 #menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    text-align: center;
    height: 15vh;
    width: 100vw;
    background-image: linear-gradient(to right,#0000FF, #0000AA, #000000);
    background-attachment: fixed;
    font-family: 'DC', sans-serif;
}

nav{
    width: 60vw;
    display: flex;
    gap: 20px;
    text-align: center;
}

#titulo, a {
    margin: 25px;
}
a {
    font-size: 2rem;
    color: #0000FF;
}

#banners {
    height: 20vw;
    width: 100vw;
    background-image: url(../midia/imagens/DcBanner.webp);
    background-position: center;
    background-attachment: local;
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    color: #DDDDDD;
    margin-right: 90vw;   
    font-family: 'DC', sans-serif;
    font-size: 2rem;
    margin: 40px;
}

section {
    height: 100%;
    width: 100vw;
    border-color: #000000;
    background-color: #1111AA;
    overflow: hidden;
}

button.pers {
    margin: 40px;
    height: 200px;
    width: 180px;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    border: none;
    transition: 0.3s;
}

button:hover {
    transition: 0.3s;
    transform: scale(1.2);
}

#batman {
    background-image: url(../midia/personagens/1.png);
}

#superman {
    background-image: url(../midia/personagens/2.png);
}

#flash {
    background-image: url(../midia/personagens/12.png);
}

#maravilha {
    background-image: url(../midia/personagens/10.png);
}

#dark {
    background-image: url(../midia/personagens/4.png);
}

#ares {
    background-image: url(../midia/personagens/6.png);
}

#coringa {
    background-image: url(../midia/personagens/9.png);
}

#flash-reverso {
    background-image: url(../midia/personagens/7.png);
}

#red-death {
    background-image: url(../midia/personagens/8.png);
}

#capuz {
    background-image: url(../midia/personagens/3.png);
}

#etrigan {
    background-image: url(../midia/personagens/11.png);
}

#lobo {
    background-image: url(../midia/personagens/5.png);
}

#lanterna {
    background-image: url(../midia/personagens/14.png);
}

#arqueiro {
    background-image: url(../midia/personagens/15.png);
}

#aquaman {
    background-image: url(../midia/personagens/16.png);
}

#ciborg {
    background-image: url(../midia/personagens/17.png);
}

#lex {
    background-image: url(../midia/personagens/18.png);
}

#sinestro {
    background-image: url(../midia/personagens/19.png);
}

#exterminador {
    background-image: url(../midia/personagens/20.png);
}

#constatine {
    background-image: url(../midia/personagens/30.png);
}

#gaviao {
    background-image: url(../midia/personagens/31.png);
}

#mulher-gato {
    background-image: url(../midia/personagens/32.png);
}

#roschach {
    background-image: url(../midia/personagens/33.png);
}

#vingador-fantasma {
    background-image: url(../midia/personagens/34.png);
}